.div1{
    font-family: 'Roboto',sans-serif;
    margin: 10px 50px;
    padding:  20px;
    background: #0066b8;
    border-radius:20px;
}
.div1 h1{
    text-align:center;
}
#web{
    text-decoration: none;
    color:rgba(0, 0, 255, 0.623);
    transition: color .5s;
    display: block;
    text-align: center;
    
}
#web:hover{
    color:blue;
}

#stats{
    list-style:none;
}
#div2{
    display: inline-block;
    text-align: left ;
}
#fuentes{
    text-align: center;
}
#aa{
    text-decoration: none;
   color: rgba(0, 0, 255, 0.623);
   transition: color .5s;
}
#aa:hover{
    color:blue;
}
#vs-download{
    background-color: #008cff;
    text-decoration: none;
    border-radius: 15px;
    transition: background-color .5s;
}
#vs-download:hover{
    background-color:#0079db;
}
#vs-download:active{
    background-color:#006bc2;
}
#last{
    text-decoration: none;
    color: rgba(0, 0, 255, 0.623);
   transition: color .5s;
}
#last:hover{
    color: blue;
}

body{
    background-color:#2c2c32;
}
